---
layout: nil
---
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="{{ site.lang }}"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="{{ site.lang }}"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="{{ site.lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ site.lang }}"> <!--<![endif]-->
<head>
{% include head.html %}
{% if site.asides.themes %}{% include script.html %}{% endif %}
</head>
<body>
<header id="header">
{% include header.html %}
</header>

<nav id="navbar">
{% include navbar.html %}
</nav>

<div class="container-fluid">
  <div class="row-fluid">

    <div id="main" class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
      {{ content }}
    </div>

    <aside id="sidebar" class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
    {% for img in site.screenshots %}
    <img src="{{ site.url }}/assets/images/{{ img }}" width="100%"/>
    {% endfor %}
    </aside><!--/span-->

  </div><!--/row-->
</div> <!-- /container -->

<hr>

<footer id="footer">
{% include footer.html %}
</footer>
{% include bottom.html %}
</body>
</html>
